.container__table{
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.box_table{
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  max-width: 150px;
}
.table{
  display: flex;
}
.itemX::before{content: "X"; margin-left: 13px;}
.itemY::before{content: "Y";margin-left: 13px;}
.three__item {
  max-width: 40px;
}
.calculate{
  margin-top: 25px;
}
.calculate button {
  height: 90px;
}
input {
  max-width: 30px;
}
button {
  cursor: pointer;
}
.charts{
  padding: 1em;
  background-color:floralwhite;
  max-width: 100%;
  overflow: auto;
}